/**
** Minyi Lu 1001888591
** Anguo Shangguan  1001888799
** Ziwei Liu 1001888811
**/
body {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 16px;
    margin: 0;
}
table {

    text-align: center;

}
table td{
    width: 280px;
}
#id {
    width: 100px;
}
.button {

    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius:20px;

}

.button_add {
    background-color: #6ba2e0;
}

.button_send {
    background-color: #6ba2e0;
}

.button_detail {
    background-color: #2db364;
}

.button_modify {
    background-color: #cac724;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#service_dialog_details,  #reply_dialog{
    width: 50%;
    height: auto;
    position: absolute;
    top: 150px;
    left: 25%;
    padding: 20px;
    border-radius: 8px;
    border: solid 1px #ebeef5;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: rgb(139, 203, 187);
}
.dialog_text {
    margin: 10%;
}
.dialog_text span {
    color: white;
    font-size: 20px;
}
.dialog_button_container {
    margin: 80px 0 20px 30px;
    display: flex;
    justify-content: space-around;
}
.dialog_button_container button {
    background-color: white;
    border: solid 1px #dcdfe6;
    outline: none;
    text-align: center;
    padding: 12px 20px;
    border-radius: 4px;
    font-weight: 500;
}


